body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1,h2{
    text-align: center;
}
.container {
    max-width: 800px;
    width: 60%;
    margin: auto;
    background:#ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #cfcfcf;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 10px 0;
}
a{
    text-decoration: none;
    color:#0077cc;
    margin: 5px;
}
a:hover{
    color:#005599;
}
button{
    padding: 8px 16px;
    background-color:#0077cc;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover{
    background-color:#0066b2;
}
.btn{
    padding: 8px 16px;
    background-color:#0077cc;
    color:white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}
.btn:hover{
    background-color:#0066b2;
    color:white;
}
.btn-danger{
    background-color:#d9534f;
    color:white;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}
.btn-danger:hover{
    background-color: #c64542;
    color: white;
}
input,textarea,select{
    width: 80%;
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container input,
.form-container textarea,
.form-container select{
    width: 80%;
}
.form-container button,
.form-container .btn {
    margin-top: 15px;
    width: 150px;
}
.table-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.custom-table{
    width: 90%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #cfcfcf;
    font-size: 16px;
}
.custom-table thead{
    background-color: #0077cc;
    color: white;
}
.custom-table th, 
.custom-table td{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}
.custom-table tbody tr:last-child td{
    border-bottom: none;
}
.custom-table tbody tr:hover{
    background-color:#f1f1f1;
    transition: 0.2s;
}
.custom-table .btn{
    margin: 3px;
}
.btn-edit{
    background-color:#0077cc;
    color:white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
}
.btn-edit:hover{
    background-color:#005fa3;
}
.add-btn{
    margin-bottom: 20px;
}
